$fontStack: 'Raleway', sans-serif;
//$fontStackSerif: 'Raleway', serif;
$fontSize: 14px;
$fontSizeSmall: 12px;
$fontSizeMedium: 17px;
$fontSizeLarge: 26px;
$fontSizeHuge: 36px;
$lineHeight: 1.4;
$letterSpacing: 1.2px;
