.section {
  padding-top: $heightNav;
  padding-bottom: $heightNav / 2;
  width: 100%;
  height: 100%;

  .section__inner {
    @include padding(2, 2);
    width: $siteWidth;
    margin: 0 auto;
  }

  @media screen and (max-width: $siteWidth) {
    .section__inner {
      width: 100%;
    }
  }
}
